<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-2">

        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>微信: dachi_xu</li>
          <li>Github:
            <a href="https://github.com/{{ site.github_username }}">{{site.github_username}}</a>
          </li>
        </ul>

      </div>

      <div class="footer-col  footer-col-3">
      </div>
    </div>

  </div>
<br/><br/>
</footer>
