<header class="site-header">
    <nav>
        <div class="nav-wrapper blue-grey lighten-4">
            <a class="brand-logo center" href="{{ site.baseurl}}/"><span class="black-text">{{ site.title }}</span></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% for page in site.pages reversed %}
                {% if page.title %}
                <li><a class="" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </div>
    </nav>
</header>
