---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <!-- JiaThis Button BEGIN -->
  <div class="jiathis_style_32x32">
  	<a class="jiathis_button_qzone"></a>
  	<a class="jiathis_button_tsina"></a>
  	<a class="jiathis_button_tqq"></a>
  	<a class="jiathis_button_weixin"></a>
  	<a class="jiathis_button_renren"></a>
  	<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
  	<a class="jiathis_counter_style"></a>
  </div>
  <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
  <!-- JiaThis Button END -->

  {% include comments.html %}

</div>
